
# Playwright
node_modules/
mcp-server/openapi-tools/node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.env
playwright/.auth/

# Add these for CI
playwright-report/
test-results/
.env.ci.local
node_modules/
allure-results/
allure-report/